*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
target/
bin/


.idea/
.idea_modules/

.bloop/
.metals/

null/

out/
